@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min";
@import "mixins";

/*!
 * Datetimepicker for Bootstrap v3
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
// .bootstrap-datetimepicker-widget{top:0;left:0;width:250px;padding:4px;margin-top:1px;z-index:99999!important;border-radius:4px}.bootstrap-datetimepicker-widget.timepicker-sbs{width:600px}.bootstrap-datetimepicker-widget.bottom:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:7px}.bootstrap-datetimepicker-widget.bottom:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:8px}.bootstrap-datetimepicker-widget.top:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #ccc;border-top-color:rgba(0,0,0,.2);position:absolute;bottom:-7px;left:6px}.bootstrap-datetimepicker-widget.top:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;position:absolute;bottom:-6px;left:7px}.bootstrap-datetimepicker-widget .dow{width:14.2857%}.bootstrap-datetimepicker-widget.pull-right:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.pull-right:after{left:auto;right:7px}.bootstrap-datetimepicker-widget>ul{list-style-type:none;margin:0}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:100%;font-weight:bold;font-size:1.2em}.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator{width:4px;padding:0;margin:0}.bootstrap-datetimepicker-widget .datepicker>div{display:none}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget td,.bootstrap-datetimepicker-widget th{text-align:center;width:20px;height:20px;border-radius:4px}.bootstrap-datetimepicker-widget td.day:hover,.bootstrap-datetimepicker-widget td.hour:hover,.bootstrap-datetimepicker-widget td.minute:hover,.bootstrap-datetimepicker-widget td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget td.old,.bootstrap-datetimepicker-widget td.new{color:#999}.bootstrap-datetimepicker-widget td.today{position:relative}.bootstrap-datetimepicker-widget td.today:before{content:'';display:inline-block;border-left:7px solid transparent;border-bottom:7px solid #428bca;border-top-color:rgba(0,0,0,.2);position:absolute;bottom:4px;right:4px}.bootstrap-datetimepicker-widget td.active,.bootstrap-datetimepicker-widget td.active:hover{background-color:#428bca;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.bootstrap-datetimepicker-widget td.active.today:before{border-bottom-color:#fff}.bootstrap-datetimepicker-widget td.disabled,.bootstrap-datetimepicker-widget td.disabled:hover{background:none;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget td span{display:block;width:47px;height:54px;line-height:54px;float:left;margin:2px;cursor:pointer;border-radius:4px}.bootstrap-datetimepicker-widget td span:hover{background:#eee}.bootstrap-datetimepicker-widget td span.active{background-color:#428bca;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.bootstrap-datetimepicker-widget td span.old{color:#999}.bootstrap-datetimepicker-widget td span.disabled,.bootstrap-datetimepicker-widget td span.disabled:hover{background:none;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget th.switch{width:145px}.bootstrap-datetimepicker-widget th.next,.bootstrap-datetimepicker-widget th.prev{font-size:21px}.bootstrap-datetimepicker-widget th.disabled,.bootstrap-datetimepicker-widget th.disabled:hover{background:none;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget thead tr:first-child th:hover{background:#eee}.input-group.date .input-group-addon span{display:block;cursor:pointer;width:16px;height:16px}.bootstrap-datetimepicker-widget.left-oriented:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.left-oriented:after{left:auto;right:7px}.bootstrap-datetimepicker-widget ul.list-unstyled li div.timepicker div.timepicker-picker table.table-condensed tbody>tr>td{padding:0!important}

$navbar-height: 40px;

body {
    // background-color: #323232;
    // color: #fff;
}

#app {
    margin-top: $navbar-height + 20px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
    &:focus, &:active {
        color: #fff;
    }
}

.btn-default.btn-outline {
    color: #fff;

}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-default.btn-outline:hover {
    color: #333;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn.no-border {
  border: none;
}
.btn.font-lg {
  font-size: 20px;
}

.pager li > button {
    display: inline-block;
    padding: 5px 14px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #fff;
}
.pager .previous > button {
    float: left;
}
.pager .next > button {
    float: right;
}
.pager li > button:not([disabled]):focus, .pager li > button:not([disabled]):hover {
}

// Tasks
.task-switch {
    font-size: 18px;
    line-height: 0;
}
.task-name {
    line-height: 30px;
}
// Helpers
.mbot-10 {
    margin-bottom: 10px;
}
.mtop-10 {
    margin-top: 10px;
}


// Reset
.navbar {
    min-height: $navbar-height;
    border-radius: 0px;
    border: none;
}
.navbar-brand {
    height: $navbar-height;
    font-size: 15px;
    line-height: 10px;
}
.navbar-nav > li > a {
    line-height: 10px;
}

.sidebar-toggle-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    padding: 10px;
    span {
        height: 1px;
        background-color: #fff;
        margin-bottom: 5px;
        display: block;
    }
    span:nth-child(2) {
        width: 85%;
    }
    span:nth-child(3) {
        width: 70%;
    }
 }

$sidebar-width: 250px;
$sidebar-padding: 15px;
$sidebar-bg-color: #222;

.sidebar {
    top: $navbar-height;
    right: -$sidebar-width - $sidebar-padding;
    bottom: 0;
    width: $sidebar-width;
    position: fixed;
    z-index: 9998;
    overflow: hidden;
    padding: $sidebar-padding;
    transition: right 0.3s linear;
    // background-image: url(http://wallpaperlayer.com/img/2015/5/dark-background-pictures-5803-6067-hd-wallpapers.jpg);
    // @include top, #222 0%,#272934 50%,#343639 100%;
    @include linear-gradient(rgba(#232D40, 1), rgba(#20211D, 0.95));
    // background-image: -webkit-linear-gradient(top, rgba(#111, 0.9) 0%, rgba(#181920, 0.85) 50%, rgba(#141619, 0.8) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    &.visible {
        right: 0;
        transition: right 0.3s linear;
    }
    .section {
        &.visible {
            margin-left: 0;
        }
    }
    .section-header {
        color: #fff;
        background-color: rgba(23, 24, 45, 0.25);
        padding: 1px $sidebar-padding;
        margin-left: -$sidebar-padding;
        margin-right: -$sidebar-padding;
    }

    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 10px 0;
                font-size: 14px;
            }
        }
    }   
}

// Avatar
.avatar {
    .avatar-text {
        display: block;
        font-size: 40px;
        background: rgba(32, 40, 56, 1);
        color: #fff;
        text-align: center;
    }
    &.avatar-small {
        max-width: 100px;
        .avatar-text {
            font-size: 25px;
        }
    }
}
.alert-fixed {
    position: fixed;
    top: $navbar-height + 10px;
    z-index: 9999;
    width: 400px;
    word-wrap: break-all;
    max-height: 300px;
    right: 10px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }    
}
